In [2]:
import pandas as pd

In [3]:
pd.DataFrame

pandas.core.frame.DataFrame

In [4]:
df_data = [{'a': 22, 'b': 23, 'c': 24}, {'a': 32, 'b': 33, 'c': 34}, {'a': 42, 'b': 43, 'c': 44}]

In [5]:
type(df_data)

list

In [6]:
df_data = pd.DataFrame(df_data)
df_data

    a   b   c
0  22  23  24
1  32  33  34
2  42  43  44

In [15]:
df_data.head(2)

    a   b   c
0  22  23  24
1  32  33  34

In [16]:
df_data.tail(1)

    a   b   c
2  42  43  44

In [17]:
df_data.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
df_data('a')

TypeError: 'DataFrame' object is not callable

In [19]:
df_data['a']

0    22
1    32
2    42
Name: a, dtype: int64

In [21]:
df_data[0:1]

    a   b   c
0  22  23  24

In [23]:
subset_df = df_data.iloc[0:2]
subset_df.shape

(2, 3)

In [24]:
subset_df.to_csv('new_dataframe_csv_please_work.csv')

# Why are dynamic, interactive data visualizations useful when communicating data?
Dynamic, interactive data visualizations are useful when communicating data because interactive data allows the receiver to explore the dataset in a way that static visualizations do not allow. Users can explore datasets in a hands-on activity that fford thee the opportunitym to narrow down exactly what they're looking for. Interactive data visualizations are not necessarily impeded by potential pitfalls in bad design thatares  commona problem with static visualizations. By putting the data into the hands of the user, open engagement and communication with the data can take place.